@import "tailwindcss";
@plugin "daisyui";
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

@theme {
    --color-main: #9538E2;
    --color-herobg:#9747ff;
}

body{
    font-family: "Sora", sans-serif;
}